<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Personaje de Rick y Morty</title>
</head>
<body>
  <h1>Detalles del Personaje de Rick y Morty</h1>
  <div>
    <p>Nombre: <span id="nombrePersonaje"></span></p>
    <p>Estado: <span id="estadoPersonaje"></span></p>
    <p>Especie: <span id="especiePersonaje"></span></p>
    <p>Tipo: <span id="tipoPersonaje"></span></p>
    <p>Género: <span id="generoPersonaje"></span></p>
    <p>Origen: <span id="origenPersonaje"></span></p>
    <p>Ubicación: <span id="ubicacionPersonaje"></span></p>
    <p>Imagen: <img id="imagenPersonaje" src="" alt="Imagen del Personaje"></p>
    
  </div>
</body>
</html>